@import "tailwindcss";

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground-rgb);
  color: var(--background-start-rgb);
  font-family: var(--font-inter);
}


